
.bio_card_image:hover {
  cursor: pointer;
  box-shadow: rgba(11, 47, 124, 0.411) -10px 0px 20px, /* X koordinatını negatif ayarlayarak gölgeyi sola doğru düşürüyoruz */
    rgba(11, 47, 124, 0.411) -20px 0px 40px,
    rgba(11, 47, 124, 0.411) -4px 0px 12px,
    rgba(11, 47, 124, 0.411) -8px 0px 20px,
    rgba(11, 47, 124, 0.411) -2px 0px 10px;
  border-radius: 10px; /* Yuvarlaklık için border-radius değerini ayarlayabilirsiniz. */
}



@media (max-width: 820px) {
  .bio_card_container {
    flex-direction: row; 
    flex-wrap: wrap; 
    max-width: 70%;
  }

}